<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
</head>
<body>
  <header class="header">
    <div class="logo">
      <a href="/" title="Back to Home Page">Ever Note</a>
    </div>
    <% if (userId) { %>
      <div class="add__post">
        <a href="/posts/newPost" title="create a new post">+</a>
      </div>
      <div class="user-login__wrapper">
        <a href="/logout" class="user__login" title="logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
      <div class="user-info" title="user name">
        <p><%= user.firstName.split('')[0] + user.lastName.split('')[0] %></p>
      </div>
    <% } else { %>      
      <div class="user-login__wrapper">
        <a href="/login" class="user__login"><i class="fas fa-sign-in-alt" title="login"></i></a>
      </div>
      <div class="register-user_wrapper">
        <a href="/register" class="register__user" title="create account"><i class="fas fa-user-plus"></i></a>
      </div>
    <% } %>
  </header>
  <section class="section">
    <div class="posts__wrapper">
      <div class="post__div">
        <a href="" class="post__link">Title: <%= post.title %></a>
        <p class="post__content">Content: <%= post.description %></p>
        <p class="post__tags">Tags: <%= post.tags %></p>
        <p class="post__created_at">Created At: <%= post.created_at %></p>
        <div class="button__wrapper">
          <a href='/posts/<%= post._id %>/likes' class="post__likes"><i class="far fa-heart"></i><%= " " + post.likes.count %></a>
          <a href="/posts/<%= post._id %>/edit" class="post__edit"><i class="fas fa-pencil-alt"></i></a>
          <a href="/posts/<%= post._id %>/delete" class="post__delete"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="comment-form__wrapper">
          <form action="/posts/<%= post._id %>/comment" method="POST">
            <label for="comment-section">
              <textarea name="description" id="comment-section" placeholder="comment here..."></textarea>
              <input type="hidden" name="post" value=<%= post._id %>>
              <input type="hidden" name="author" value=<%=  userId ? user._id : "" %>>
            </label>
            <button><i class="far fa-comments"></i></button>
          </form>
        </div>
        <div class="comment_wrapper">
          <div class="comment__div">
            <% if(comments.length > 0){ %>
              <% comments.forEach((comment) => { %>
                <% if(comment.description) { %>
                  <h3 class="data-title"><%= comment.description %></h3>
                  <p class="data-created"><%= comment.created_at %></p>
                  <a href="/posts/<%= post._id %>/comment/<%= comment._id %>/edit" class="post__edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="/posts/<%= post._id %>/comment/<%= comment._id %>/delete" class="post__delete"><i class="far fa-trash-alt"></i></a>
                <% } %>
              <% }); %>
            <% } else { %>
              <p>No Comment Found!!</p>
            <% } %>  
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>