<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Posts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />

</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="/">Ever Note</a>
    </div>
    <% if (userId) { %>
      <div class="add__post">
        <a href="/posts/newPost" title="create a new post">+</a>
      </div>
      <div class="user-login__wrapper">
        <a href="/logout" class="user__login" title="logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
      <div class="user-info" title="user name">
        <p><%= user.firstName.split('')[0] + user.lastName.split('')[0] %></p>
      </div>
    <% } else { %>      
      <div class="user-login__wrapper">
        <a href="/login" class="user__login" title="login"><i class="fas fa-sign-in-alt"></i></a>
      </div>
      <div class="register-user_wrapper">
        <a href="/register" class="register__user" title="create account"><i class="fas fa-user-plus"></i></a>
      </div>
    <% } %>
  </header>
  <section class="section">
    <div class="posts__wrapper">
      <% for(var i = 0; i < posts.length; i++) { %>
      <div class="post__div">
        <a href='/posts/<%= posts[i].slug %>' class="post__link">Title: <%= posts[i].title %></a>
        <p class="post__content">Content: <%= posts[i].description %></p>
        <p class="post__tags">Tags: <%= posts[i].tags %></p>
        <p class="post__created_at">Created At: <%= posts[i].created_at %></p>
        <div class="button__wrapper">
          <a href='/posts/<%= posts[i]._id %>/likes' class="post__likes"><i class="far fa-heart"></i><%= " " + posts[i].likes.count %></a>
          <% if (JSON.stringify(userId) == JSON.stringify(posts[i].author)) { %>
            <a href="/posts/<%= posts[i]._id %>/edit" class="post__edit"><i class="fas fa-pencil-alt"></i></a>
            <a href="/posts/<%= posts[i]._id %>/delete" class="post__delete"><i class="far fa-trash-alt"></i></a>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </section>
</body>

</html>